{% extends 'base.html.twig' %}
{% block body %}
<div class="row center">
    <div class="row">
        <h1>Modification de compte</h1>
    </div>
    <form method="post" action="{{ path('user.edit') }}" class="form">
        <div class="row">
            <div class="row">
                <div class="col-s-12">
                    <div class="row">
                        <div class="col-s-12">
                            <label for="first_name">Prénom</label>
                        </div>
                        <div class="col-s-12">
                            <input tabindex="1" type="text" name="first_name" id="first_name" value="{{ user.firstName }}"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-s-12">
                    <div class="row">
                        <div class="col-s-12">
                            <label for="last_name">Nom</label>
                        </div>
                        <div class="col-s-12">
                            <input tabindex="2" type="text" name="last_name" id="last_name" value="{{ user.lastName }}"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-s-12">
                    <div class="row">
                        <div class="col-s-12">
                            <label for="email">Email</label>
                        </div>
                        <div class="col-s-12">
                            <input tabindex="3" type="text" name="email" id="email" value="{{ user.email }}" disabled="disabled"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-m-push-4 col-m-4 col-s-12">
                <div class="row">
                    <div class="col-s-12">
                        <input tabindex="4" type="submit" name="valider" value="Valider" />
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-m-push-4 col-m-4 col-s-12">
            <div class="row">
                <div class="col-s-12 col-m-6">
                    <form action="{{ path('user.edit.password') }}">
                        <button tabindex="5" type="submit" class="button info">Modifier le mot de passe</button>
                    </form>
                </div>
                <div class="col-s-12 col-m-6">
                    <form method="post" action="{{ path('user.delete') }}" onsubmit="return confirm('Voulez-vous vraiment suppimer le compte ?')">
                        <button tabindex="6" type="submit" class="button info">Supprimer le compte</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
