{% extends 'base.html.twig' %}
{% block body %}
    <h3> Modification de compte</h3>
    <form method="post" action="{{ path('user.edit') }}" class="modification">
        <label for="prenom">
            Prenom :
            <br />
            <input tabindex="1" type="text" name="first_name" id="prenom" value="{{ user.firstName }}"/>
        </label>
        <br />
        <br />
        <label for="nom">
            Nom :
            <br />
            <input tabindex="2" type="text" name="last_name" id="nom" value="{{ user.lastName }}"/>
        </label>
        <br />
        <br />
        <label for="mail">
            Adresse mail :
            <br />
            <input tabindex="3" type="text" name="mail" id="mail" value="{{ user.email }}" disabled="disabled"/>
        </label>
        <br />
        <br />
        <input tabindex="4" type="submit" name="valider" value="Valider" />
    </form>

    <a href="{{ path('user.edit.password') }}" class="button info">Modifier le mot de passe</a>
{% endblock %}
