<header class="header">
    <a href="#" class="header_icon" id="header_icon"></a>
    <a href="{{ path('index') }}" class="header_logo"><img class="brand_icon" alt="Main acupuncture" src="{{ asset('img/icon-acupuncture.png') }}" > Bref'n'm Acupuncture</a>
    <nav class="menu">
        <a href={{ path('information') }}>Informations</a>
        <a href={{ path('symptom') }}>Symptômes</a>
        <a href={{ path('pathology') }}>Pathologies</a>
        <a href={{ path('pathology.searchByKeywords') }}>Recherche de pathologies</a>

        <div class="right">
            {% if user %}
                <a href={{ path('user.edit') }}>{{ user.firstName }} {{ user.lastName }}</a>
                <a href={{ path('logout') }}>Déconnexion</a>
            {% else %}
                <a href={{ path('user.register') }}>S'enregistrer</a>
                <a href={{ path('login') }}>Connexion</a>
            {% endif %}
        </div>
    </nav>
</header>
