<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Bref'n'm Acupuncture - {% block title %}Accueil{% endblock %}</title>
    <!-- If module no zoom available -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    <link rel="icon" type="image/x-icon" href={{ asset('img/icon-acupuncture.png') }}>
    <!-- Style Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <!-- Style CSS Global -->
    {% block css %}
    <link rel="stylesheet" type="text/css" href={{ asset('style/grid.css') }}>
    <link rel="stylesheet" type="text/css" href={{ asset('style/header.css') }}>
    <link rel="stylesheet" type="text/css" href={{ asset('style/miscellaneous.css') }}>
    <link rel="stylesheet" type="text/css" href={{ asset('style/style.css') }}>
    {% endblock %}

    <base href="/">
</head>
    <body>
        <div class="site-container">
            {% include 'header.html.twig' %}
            <div class="site-pusher">
                <div class="site-content">
                    <div class="container">
                        {# Redifine this block in children #}
                        {% block body %}
                        {% endblock %}
                    </div>
                </div>
                <div class="site-cache" id="site-cache"></div>
            </div>
        </div>
        <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src={{ asset('js/app.js') }}></script>
    </body>
</html>
