<header class="header">
    <a href="#" class="header_icon" id="header_icon"></a>
    <a href="{{ path('index') }}" class="header_logo"><img class="brand_icon" src="{{ asset('img/icon-acupuncture.png') }}" > Bref'n'm Acupuncture</a>
    <nav class="menu">
        <a href={{ path('information') }}>Informations</a>
        <a href={{ path('symptomes') }}>Symptômes</a>
        <a href={{ path('pathologie') }}>Pathologies</a>
        <a href={{ path('recherche') }}>Recherche de pathologies</a>
        <a href={{ path('connection') }}>Se connecter</a>
    </nav>
</header>
