{% extends 'base.html.twig' %}
{% block title %}Pathologie{% endblock %}
{% block body %}
<h1> Pathologie </h1>
    <div class="row">
        <div class="col-s-12 col-m-6 col-m-center col-l-4 col-l-center">
            <div class="card">
                <div class="card-header">
                    Meridien
                </div>
                <div class="card-body">
                    <form class="form" id="search">
                        <ul class="liste_deroulante">
                            {% set index = 1 %}
                            {% for meridian in meridians %}
                                <label class="checkbox_meridian">{{ meridian.nom }}
                                    <input tabindex="{{ index }}" name="meridian_list" type="checkbox" value="{{ meridian.nom }}">
                                    <span class="checkmark"></span>
                                </label>
                                {% set index = index + 1 %}
                            {% endfor %}
                        </ul>
                        <button tabindex="{{ index }}" class="search_meridian button success">Recherche</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-stripped pathologies collapse">
        <tr>
            <th>Description</th>
            <th class="col-s-hidden">Type</th>
            <th class="col-s-hidden">Méridien</th>
            <th class="col-s-hidden">Symptôme</th>
            <th class="col-s-hidden">Yin Yang</th>
        </tr>
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function () {
            var input = document.getElementsByTagName("input");
            let filters = location.hash;
            filters = filters.slice(1, filters.length);
            filters = unescape(filters);
            filters = filters.split(",");
            filters.forEach(function (filter) {
                for(var i = 0; i < input.length; i++) {
                    if (input[i].value == filter){
                        input[i].checked = true
                    }
                }
            })
            consumeAPI(filters);
        });
        $('#search').submit(function (e) {
            e.preventDefault();
            var filters = [];
            $.each($("input[name='meridian_list']:checked"), function() {
                filters.push($(this).val());
            });
            let hash = escape(filters);
            location.hash = `#${hash}`;
            consumeAPI(filters)
        });

        function consumeAPI(filters) {
            $.post({
                url: '{{ path('api.filterByMeridian') }}',
                data: {
                    'filters': JSON.stringify(filters),
                },
                success: function (data) {
                    $('.pathologies tr:nth-child(1)')
                        .nextAll().remove();

                    if (0 !== data.pathologies.length) {
                        $('.pathologies').removeClass('collapse');
                    }
                    else {
                        $('.pathologies').addClass('collapse');
                    }

                    data.pathologies.forEach(function (pathology) {
                        let pathologyTemplate = `<tr>
                            <td>${pathology.pathoDesc}</td>
                            <td class="col-s-hidden">${pathology.pathoType}</td>
                            <td class="col-s-hidden">${pathology.merNom}</td>
                            <td class="col-s-hidden">${pathology.symptDesc}</td>
                            <td class="col-s-hidden">${1 == pathology.yin ? 'Yin' : 'Yang'}</td>
                        </tr>`;
                        $('.pathologies').append(pathologyTemplate);
                    });
                },
            });
        }
    </script>
{% endblock %}
